<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.3/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_6Oyr0Bg1Eeu1Ycvr0z-qrQ" specification="interface PoliceInterrupt:&#xD;&#xA;  in event police&#xD;&#xA;  &#xD;&#xA; interface Pedestrian:&#xD;&#xA;  in event pedestrian&#xD;&#xA;  &#xD;&#xA; interface Control:&#xD;&#xA;  out event toggle&#xD;&#xA; &#x9;&#xD;&#xA;interface PedPolice:&#xD;&#xA; out event police&#xD;&#xA;&#xD;&#xA;interface PedControl:&#xD;&#xA;  out event pedestrian" name="PedController">
    <regions xmi:id="_6Oz59hg1Eeu1Ycvr0z-qrQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_6O0hARg1Eeu1Ycvr0z-qrQ">
        <outgoingTransitions xmi:id="_6O1vJhg1Eeu1Ycvr0z-qrQ" target="_6O0hDRg1Eeu1Ycvr0z-qrQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_6O0hDRg1Eeu1Ycvr0z-qrQ" name="Operating" incomingTransitions="_6O1vJhg1Eeu1Ycvr0z-qrQ _7nGXABg_Eeu1Ycvr0z-qrQ">
        <outgoingTransitions xmi:id="_5dMrQBg_Eeu1Ycvr0z-qrQ" specification="PoliceInterrupt.police / raise PedPolice.police" target="_2vEREBg_Eeu1Ycvr0z-qrQ"/>
        <regions xmi:id="_kr0uEBg_Eeu1Ycvr0z-qrQ" name="operating">
          <vertices xsi:type="sgraph:State" xmi:id="_miriABg_Eeu1Ycvr0z-qrQ" name="Init" incomingTransitions="_obqc4Bg_Eeu1Ycvr0z-qrQ _yhEmoBg_Eeu1Ycvr0z-qrQ">
            <outgoingTransitions xmi:id="_tDYO4Bg_Eeu1Ycvr0z-qrQ" specification="Pedestrian.pedestrian" target="_rW3pwBg_Eeu1Ycvr0z-qrQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_n9EcYBg_Eeu1Ycvr0z-qrQ" kind="SHALLOW_HISTORY">
            <outgoingTransitions xmi:id="_obqc4Bg_Eeu1Ycvr0z-qrQ" specification="" target="_miriABg_Eeu1Ycvr0z-qrQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_rW3pwBg_Eeu1Ycvr0z-qrQ" specification="entry / raise PedControl.pedestrian&#xD;&#xA;" name="Prepare" incomingTransitions="_tDYO4Bg_Eeu1Ycvr0z-qrQ">
            <outgoingTransitions xmi:id="_zsi7QBg_Eeu1Ycvr0z-qrQ" specification="after 1s " target="_U-fSYBnHEeu6XrvXrc4qNw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_twoWcBg_Eeu1Ycvr0z-qrQ" specification="entry / raise Control.toggle" name="GreenSignal" incomingTransitions="_a8QRUBnHEeu6XrvXrc4qNw">
            <outgoingTransitions xmi:id="_xBr3gBg_Eeu1Ycvr0z-qrQ" specification="after 1s" target="_u5cYoBg_Eeu1Ycvr0z-qrQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_U-fSYBnHEeu6XrvXrc4qNw" specification="entry / raise Control.toggle" name="RedSignal" incomingTransitions="_zsi7QBg_Eeu1Ycvr0z-qrQ">
            <outgoingTransitions xmi:id="_a8QRUBnHEeu6XrvXrc4qNw" specification="after 2s" target="_twoWcBg_Eeu1Ycvr0z-qrQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_u5cYoBg_Eeu1Ycvr0z-qrQ" specification="entry / raise Control.toggle" name="BlinkingGreenSignal" incomingTransitions="_xBr3gBg_Eeu1Ycvr0z-qrQ">
            <outgoingTransitions xmi:id="_yhEmoBg_Eeu1Ycvr0z-qrQ" specification="after 1s / raise PedControl.pedestrian" target="_miriABg_Eeu1Ycvr0z-qrQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2vEREBg_Eeu1Ycvr0z-qrQ" name="Interrupted" incomingTransitions="_5dMrQBg_Eeu1Ycvr0z-qrQ">
        <outgoingTransitions xmi:id="_7nGXABg_Eeu1Ycvr0z-qrQ" specification="PoliceInterrupt.police / raise PedPolice.police" target="_6O0hDRg1Eeu1Ycvr0z-qrQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_6Oz58xg1Eeu1Ycvr0z-qrQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_6Oyr0Bg1Eeu1Ycvr0z-qrQ" measurementUnit="Pixel">
    <children xmi:id="_6Oz59xg1Eeu1Ycvr0z-qrQ" type="Region" element="_6Oz59hg1Eeu1Ycvr0z-qrQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_6Oz5-hg1Eeu1Ycvr0z-qrQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6Oz5-xg1Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6Oz5_Bg1Eeu1Ycvr0z-qrQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_6Oz5_Rg1Eeu1Ycvr0z-qrQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_6O0hAhg1Eeu1Ycvr0z-qrQ" type="Entry" element="_6O0hARg1Eeu1Ycvr0z-qrQ">
          <children xmi:id="_6O0hBhg1Eeu1Ycvr0z-qrQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_6O0hCRg1Eeu1Ycvr0z-qrQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_6O0hChg1Eeu1Ycvr0z-qrQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_6O0hCxg1Eeu1Ycvr0z-qrQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6O0hBxg1Eeu1Ycvr0z-qrQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6O0hCBg1Eeu1Ycvr0z-qrQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6O0hAxg1Eeu1Ycvr0z-qrQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_6O0hBBg1Eeu1Ycvr0z-qrQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6O0hDBg1Eeu1Ycvr0z-qrQ" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_6O1IERg1Eeu1Ycvr0z-qrQ" type="State" element="_6O0hDRg1Eeu1Ycvr0z-qrQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_6O1IFRg1Eeu1Ycvr0z-qrQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6O1IFhg1Eeu1Ycvr0z-qrQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6O1IFxg1Eeu1Ycvr0z-qrQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6O1vIBg1Eeu1Ycvr0z-qrQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_6O1vIRg1Eeu1Ycvr0z-qrQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6O1vIhg1Eeu1Ycvr0z-qrQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6O1vIxg1Eeu1Ycvr0z-qrQ" type="StateFigureCompartment">
            <children xmi:id="_kr1VIBg_Eeu1Ycvr0z-qrQ" type="Region" element="_kr0uEBg_Eeu1Ycvr0z-qrQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_kr18MBg_Eeu1Ycvr0z-qrQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_kr18MRg_Eeu1Ycvr0z-qrQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_kr18Mhg_Eeu1Ycvr0z-qrQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_kr18Mxg_Eeu1Ycvr0z-qrQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_miswIBg_Eeu1Ycvr0z-qrQ" type="State" element="_miriABg_Eeu1Ycvr0z-qrQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_mitXMBg_Eeu1Ycvr0z-qrQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_mitXMRg_Eeu1Ycvr0z-qrQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_mitXMhg_Eeu1Ycvr0z-qrQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mitXMxg_Eeu1Ycvr0z-qrQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_mitXNBg_Eeu1Ycvr0z-qrQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mitXNRg_Eeu1Ycvr0z-qrQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mit-QBg_Eeu1Ycvr0z-qrQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_miswIRg_Eeu1Ycvr0z-qrQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_miswIhg_Eeu1Ycvr0z-qrQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mit-QRg_Eeu1Ycvr0z-qrQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_miswIxg_Eeu1Ycvr0z-qrQ" x="98" y="21"/>
                </children>
                <children xmi:id="_n9FDcBg_Eeu1Ycvr0z-qrQ" type="ShallowHistory" element="_n9EcYBg_Eeu1Ycvr0z-qrQ">
                  <children xmi:id="_n9FqgBg_Eeu1Ycvr0z-qrQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_n9Fqgxg_Eeu1Ycvr0z-qrQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_n9FqhBg_Eeu1Ycvr0z-qrQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_n9FqhRg_Eeu1Ycvr0z-qrQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_n9FqgRg_Eeu1Ycvr0z-qrQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n9Fqghg_Eeu1Ycvr0z-qrQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_n9FDcRg_Eeu1Ycvr0z-qrQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_n9FDchg_Eeu1Ycvr0z-qrQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n9FDcxg_Eeu1Ycvr0z-qrQ" x="62" y="-9"/>
                </children>
                <children xmi:id="_rW4Q0Bg_Eeu1Ycvr0z-qrQ" type="State" element="_rW3pwBg_Eeu1Ycvr0z-qrQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_rW434Bg_Eeu1Ycvr0z-qrQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_rW434Rg_Eeu1Ycvr0z-qrQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_rW434hg_Eeu1Ycvr0z-qrQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_rW5e8Bg_Eeu1Ycvr0z-qrQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_rW5e8Rg_Eeu1Ycvr0z-qrQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rW5e8hg_Eeu1Ycvr0z-qrQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_rW5e8xg_Eeu1Ycvr0z-qrQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_rW4Q0Rg_Eeu1Ycvr0z-qrQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_rW4Q0hg_Eeu1Ycvr0z-qrQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_rW5e9Bg_Eeu1Ycvr0z-qrQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rW4Q0xg_Eeu1Ycvr0z-qrQ" x="-4" y="116"/>
                </children>
                <children xmi:id="_twpkkBg_Eeu1Ycvr0z-qrQ" type="State" element="_twoWcBg_Eeu1Ycvr0z-qrQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_twpklBg_Eeu1Ycvr0z-qrQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_twpklRg_Eeu1Ycvr0z-qrQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_twpklhg_Eeu1Ycvr0z-qrQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_twpklxg_Eeu1Ycvr0z-qrQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_twpkmBg_Eeu1Ycvr0z-qrQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_twqLoBg_Eeu1Ycvr0z-qrQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_twqLoRg_Eeu1Ycvr0z-qrQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_twpkkRg_Eeu1Ycvr0z-qrQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_twpkkhg_Eeu1Ycvr0z-qrQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_twqLohg_Eeu1Ycvr0z-qrQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_twpkkxg_Eeu1Ycvr0z-qrQ" x="7" y="276"/>
                </children>
                <children xmi:id="_U-kx8BnHEeu6XrvXrc4qNw" type="State" element="_U-fSYBnHEeu6XrvXrc4qNw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_U-ocUBnHEeu6XrvXrc4qNw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_U-ocURnHEeu6XrvXrc4qNw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_U-pDYBnHEeu6XrvXrc4qNw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_U-pqcBnHEeu6XrvXrc4qNw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_U-qRgBnHEeu6XrvXrc4qNw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U-qRgRnHEeu6XrvXrc4qNw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_U-rfoBnHEeu6XrvXrc4qNw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_U-kx8RnHEeu6XrvXrc4qNw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_U-kx8hnHEeu6XrvXrc4qNw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_U-rfoRnHEeu6XrvXrc4qNw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U-kx8xnHEeu6XrvXrc4qNw" x="7" y="201"/>
                </children>
                <children xmi:id="_u5c_sBg_Eeu1Ycvr0z-qrQ" type="State" element="_u5cYoBg_Eeu1Ycvr0z-qrQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_u5dmwBg_Eeu1Ycvr0z-qrQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_u5dmwRg_Eeu1Ycvr0z-qrQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_u5dmwhg_Eeu1Ycvr0z-qrQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_u5dmwxg_Eeu1Ycvr0z-qrQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_u5dmxBg_Eeu1Ycvr0z-qrQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_u5dmxRg_Eeu1Ycvr0z-qrQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_u5eN0Bg_Eeu1Ycvr0z-qrQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_u5c_sRg_Eeu1Ycvr0z-qrQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_u5c_shg_Eeu1Ycvr0z-qrQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_u5eN0Rg_Eeu1Ycvr0z-qrQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_u5c_sxg_Eeu1Ycvr0z-qrQ" x="7" y="366"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kr18NBg_Eeu1Ycvr0z-qrQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_kr1VIRg_Eeu1Ycvr0z-qrQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kr1VIhg_Eeu1Ycvr0z-qrQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6O1IEhg1Eeu1Ycvr0z-qrQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6O1IExg1Eeu1Ycvr0z-qrQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6O1vJBg1Eeu1Ycvr0z-qrQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6O1vJRg1Eeu1Ycvr0z-qrQ" x="40" y="80" width="530" height="568"/>
        </children>
        <children xmi:id="_2vFfMBg_Eeu1Ycvr0z-qrQ" type="State" element="_2vEREBg_Eeu1Ycvr0z-qrQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_2vGGQBg_Eeu1Ycvr0z-qrQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2vGGQRg_Eeu1Ycvr0z-qrQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2vGGQhg_Eeu1Ycvr0z-qrQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2vGGQxg_Eeu1Ycvr0z-qrQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2vHUYBg_Eeu1Ycvr0z-qrQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2vHUYRg_Eeu1Ycvr0z-qrQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2vHUYhg_Eeu1Ycvr0z-qrQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2vFfMRg_Eeu1Ycvr0z-qrQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2vFfMhg_Eeu1Ycvr0z-qrQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2vHUYxg_Eeu1Ycvr0z-qrQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2vFfMxg_Eeu1Ycvr0z-qrQ" x="834" y="167" width="142" height="91"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6Oz5_hg1Eeu1Ycvr0z-qrQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_6Oz5-Bg1Eeu1Ycvr0z-qrQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6O0hABg1Eeu1Ycvr0z-qrQ" x="220" y="10" width="1012" height="701"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_6O2WMxg1Eeu1Ycvr0z-qrQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_6O2WNRg1Eeu1Ycvr0z-qrQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6O2WNhg1Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6O2WNxg1Eeu1Ycvr0z-qrQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_6O2WOBg1Eeu1Ycvr0z-qrQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6O2WORg1Eeu1Ycvr0z-qrQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6O2WOhg1Eeu1Ycvr0z-qrQ" x="10" y="15" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6Oz59Bg1Eeu1Ycvr0z-qrQ" name="inlineDefinitionSection" booleanValue="true"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_6Oz59Rg1Eeu1Ycvr0z-qrQ"/>
    <edges xmi:id="_6O1vJxg1Eeu1Ycvr0z-qrQ" type="Transition" element="_6O1vJhg1Eeu1Ycvr0z-qrQ" source="_6O0hAhg1Eeu1Ycvr0z-qrQ" target="_6O1IERg1Eeu1Ycvr0z-qrQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_6O2WMBg1Eeu1Ycvr0z-qrQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6O2WMRg1Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6O2WMhg1Eeu1Ycvr0z-qrQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6O1vKBg1Eeu1Ycvr0z-qrQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6O1vKhg1Eeu1Ycvr0z-qrQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6O1vKRg1Eeu1Ycvr0z-qrQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kd94QBg_Eeu1Ycvr0z-qrQ" id="(0.059047619047619036,0.04262877442273535)"/>
    </edges>
    <edges xmi:id="_obs5IBg_Eeu1Ycvr0z-qrQ" type="Transition" element="_obqc4Bg_Eeu1Ycvr0z-qrQ" source="_n9FDcBg_Eeu1Ycvr0z-qrQ" target="_miswIBg_Eeu1Ycvr0z-qrQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_obs5JBg_Eeu1Ycvr0z-qrQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_obs5JRg_Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_obtgMBg_Eeu1Ycvr0z-qrQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_obs5IRg_Eeu1Ycvr0z-qrQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_obs5Ixg_Eeu1Ycvr0z-qrQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_obs5Ihg_Eeu1Ycvr0z-qrQ" points="[-1, 6, 0, -27]$[-1, 28, 0, -5]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_obv8cBg_Eeu1Ycvr0z-qrQ" id="(0.5641025641025641,0.10416666666666667)"/>
    </edges>
    <edges xmi:id="_tDY18Bg_Eeu1Ycvr0z-qrQ" type="Transition" element="_tDYO4Bg_Eeu1Ycvr0z-qrQ" source="_miswIBg_Eeu1Ycvr0z-qrQ" target="_rW4Q0Bg_Eeu1Ycvr0z-qrQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tDZdARg_Eeu1Ycvr0z-qrQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tDZdAhg_Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tDZdAxg_Eeu1Ycvr0z-qrQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tDY18Rg_Eeu1Ycvr0z-qrQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tDZdABg_Eeu1Ycvr0z-qrQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tDY18hg_Eeu1Ycvr0z-qrQ" points="[0, 11, 0, -56]$[-3, 58, -3, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tDcgUBg_Eeu1Ycvr0z-qrQ" id="(0.5128205128205128,0.7708333333333334)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tDcgURg_Eeu1Ycvr0z-qrQ" id="(0.4393939393939394,0.1875)"/>
    </edges>
    <edges xmi:id="_xBtFoBg_Eeu1Ycvr0z-qrQ" type="Transition" element="_xBr3gBg_Eeu1Ycvr0z-qrQ" source="_twpkkBg_Eeu1Ycvr0z-qrQ" target="_u5c_sBg_Eeu1Ycvr0z-qrQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_xBtssRg_Eeu1Ycvr0z-qrQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xBtsshg_Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xBtssxg_Eeu1Ycvr0z-qrQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xBtFoRg_Eeu1Ycvr0z-qrQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xBtssBg_Eeu1Ycvr0z-qrQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xBtFohg_Eeu1Ycvr0z-qrQ" points="[-5, 11, -11, -71]$[-47, 74, -53, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xBwI8Bg_Eeu1Ycvr0z-qrQ" id="(0.5555555555555556,0.7708333333333334)"/>
    </edges>
    <edges xmi:id="_yhF0wBg_Eeu1Ycvr0z-qrQ" type="Transition" element="_yhEmoBg_Eeu1Ycvr0z-qrQ" source="_u5c_sBg_Eeu1Ycvr0z-qrQ" target="_miswIBg_Eeu1Ycvr0z-qrQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yhGb0Bg_Eeu1Ycvr0z-qrQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yhGb0Rg_Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yhGb0hg_Eeu1Ycvr0z-qrQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yhF0wRg_Eeu1Ycvr0z-qrQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yhF0wxg_Eeu1Ycvr0z-qrQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yhF0whg_Eeu1Ycvr0z-qrQ" points="[0, -4, 5, 352]$[142, -4, 147, 352]$[142, -356, 147, 0]$[0, -356, 5, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yhJfIBg_Eeu1Ycvr0z-qrQ" id="(1.0,0.7083333333333334)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yhJfIRg_Eeu1Ycvr0z-qrQ" id="(0.9487179487179487,0.4791666666666667)"/>
    </edges>
    <edges xmi:id="_zsjiUBg_Eeu1Ycvr0z-qrQ" type="Transition" element="_zsi7QBg_Eeu1Ycvr0z-qrQ" source="_rW4Q0Bg_Eeu1Ycvr0z-qrQ" target="_U-kx8BnHEeu6XrvXrc4qNw">
      <children xsi:type="notation:DecorationNode" xmi:id="_zskJYRg_Eeu1Ycvr0z-qrQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zskJYhg_Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zskJYxg_Eeu1Ycvr0z-qrQ" x="-3" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zsjiURg_Eeu1Ycvr0z-qrQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zskJYBg_Eeu1Ycvr0z-qrQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zsjiUhg_Eeu1Ycvr0z-qrQ" points="[-2, 4, -4, -66]$[-2, 46, -4, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zsl-kBg_Eeu1Ycvr0z-qrQ" id="(0.4090909090909091,0.9166666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BBefkBhBEeu1Ycvr0z-qrQ" id="(0.48717948717948717,0.0625)"/>
    </edges>
    <edges xmi:id="_5dOgcBg_Eeu1Ycvr0z-qrQ" type="Transition" element="_5dMrQBg_Eeu1Ycvr0z-qrQ" source="_6O1IERg1Eeu1Ycvr0z-qrQ" target="_2vFfMBg_Eeu1Ycvr0z-qrQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_5dOgdBg_Eeu1Ycvr0z-qrQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5dOgdRg_Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5dOgdhg_Eeu1Ycvr0z-qrQ" x="7" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5dOgcRg_Eeu1Ycvr0z-qrQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5dOgcxg_Eeu1Ycvr0z-qrQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5dOgchg_Eeu1Ycvr0z-qrQ" points="[-140, 0, -344, 13]$[204, 0, 0, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5dSx4Bg_Eeu1Ycvr0z-qrQ" id="(0.9238095238095239,0.216696269982238)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5dSx4Rg_Eeu1Ycvr0z-qrQ" id="(0.0,0.2558139534883721)"/>
    </edges>
    <edges xmi:id="_7nIMMBg_Eeu1Ycvr0z-qrQ" type="Transition" element="_7nGXABg_Eeu1Ycvr0z-qrQ" source="_2vFfMBg_Eeu1Ycvr0z-qrQ" target="_6O1IERg1Eeu1Ycvr0z-qrQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_7nIzQBg_Eeu1Ycvr0z-qrQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7nIzQRg_Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7nIzQhg_Eeu1Ycvr0z-qrQ" x="1" y="-20"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7nIMMRg_Eeu1Ycvr0z-qrQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7nIMMxg_Eeu1Ycvr0z-qrQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7nIMMhg_Eeu1Ycvr0z-qrQ" points="[-1, 50, 205, 20]$[-345, 50, -139, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7nL2kBg_Eeu1Ycvr0z-qrQ" id="(0.0072992700729927005,0.3953488372093023)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7nL2kRg_Eeu1Ycvr0z-qrQ" id="(0.9219047619047621,0.2682060390763766)"/>
    </edges>
    <edges xmi:id="_a8T7sBnHEeu6XrvXrc4qNw" type="Transition" element="_a8QRUBnHEeu6XrvXrc4qNw" source="_U-kx8BnHEeu6XrvXrc4qNw" target="_twpkkBg_Eeu1Ycvr0z-qrQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_a8Vw4BnHEeu6XrvXrc4qNw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_a8Vw4RnHEeu6XrvXrc4qNw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_a8Vw4hnHEeu6XrvXrc4qNw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_a8T7sRnHEeu6XrvXrc4qNw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_a8VJ0BnHEeu6XrvXrc4qNw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_a8T7shnHEeu6XrvXrc4qNw" points="[2, 5, 0, -38]$[15, 32, 13, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_a8b3gBnHEeu6XrvXrc4qNw" id="(0.5728643216080402,0.8958333333333334)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_a8b3gRnHEeu6XrvXrc4qNw" id="(0.5829145728643216,0.22916666666666666)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
